<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="with=device-width, initial-scale=1.0">
    <title>Albin Jose and Co. Chartered Accountants</title>
    <link href="/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="/css/animate.css" rel="stylesheet" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/career.css" rel="stylesheet" />
    <link href="~/css/careermain.css" rel="stylesheet" />
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery-ui.js"></script>
    <script src="~/js/jquery.fancybox.js"></script>
    <script src="~/js/wow.min.js"></script>
    @*     <script src="~/js/index1.js"></script>
    <script src="~/js/index2.js"></script> *@
</head>
<body>

    <header id="web_head" class="website_header">
        <div id="header_top" class="top_header">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 mobileviewimage">
                        <a href="/home/Albin" class="ca_logo_anchor">
                            <img src="../Images/albinjose.png" />
                        </a>
                    </div>
                    <div class="ct-header-holder">
                        <div class="ct-header-info-item ct-header-call">
                            <div class="h-item-icon">
                                <i class="fa fa-phone-square" aria-hidden="true"></i>
                            </div>
                            <div class="h-item-meta">
                                <label>+91 6282 822 325</label>
                            </div>
                            <a href="tel:9745403010" target="_self" class="h-item-link"></a>
                        </div>
                        <div class="ct-header-info-item ct-header-address">
                            <div class="h-item-icon">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                            </div>
                            <div class="h-item-meta">
                                <label>albinjoseandco@gmail.com</label>
                            </div>
                            <a href="" target="_blank" class="h-item-link"></a>
                        </div>
                    </div>
                    <i id="bar" class="fa fa-bars famenu" onclick="showMenu()"></i>
                </div>
            </div>
            
        </div>
    </header>
    <div id="navbar">
        <i class="fa fa-times facross" style="color: white" onclick="hideMenu()"></i>
        <a class="headerclasstest active" id="Teambtn" href="/home/career" onclick="ChangeClassHeader('Teambtn')">Careers</a>
        <a class="headerclasstest" id="Contactbtn" href="/#map_bottom" onclick="ChangeClassHeader('Contactbtn')">Contact</a>
        <a class="headerclasstest" id="Servicesbtn" href="/#divaudit" onclick="ChangeClassHeader('Servicesbtn')">Services</a>
        <a class="headerclasstest" id="Aboutbtn" href="/#aboutdiv" onclick="ChangeClassHeader('Aboutbtn')">About</a>
        <a class="headerclasstest " id="Homebtn" href="/" onclick="ChangeClassHeader('Homebtn')">Home</a>
    </div>
    <div id="pagetitle" class="page-title bg-image">
        <div class="container">
            <div class="page-title-inner">
                <div class="page-title-holder">
                    <h1 class="page-title">CAREERS</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="career">
        <div id="career_section">
            <div data-elementor-type="wp-page" data-elementor-id="1972" class="elementor elementor-1972" data-elementor-settings="[]">
                <div class="elementor-inner">
                    <div class="elementor-section-wrap">
                        <section class="elementor-section elementor-top-section elementor-element elementor-element-68c872 elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="68c872" data-element_type="section">

                            <div class="elementor-container elementor-column-gap-extended ">
                                <div class="elementor-row">
                                    <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-553856d0" data-id="553856d0" data-element_type="column">
                                        <div class="elementor-column-wrap elementor-element-populated">
                                            <div class="elementor-widget-wrap">
                                                <div class="elementor-element elementor-element-275706b elementor-widget elementor-widget-ct_heading" data-id="275706b" data-element_type="widget" data-widget_type="ct_heading.default">
                                                    <div class="elementor-widget-container">
                                                        <div class="ct-heading h-align-  sub-style1 ct-heading-left item-st-default" data-wow-delay="ms">
                                                            <h4 class="item--title st-default">
                                                                <span>
                                                                    COME WORK WITH US
                                                                </span>
                                                            </h4>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="elementor-element elementor-element-2a2698d elementor-widget elementor-widget-ct_ctf7" data-id="2a2698d" data-element_type="widget" data-widget_type="ct_ctf7.default">
                                                    <div class="elementor-widget-container">
                                                        <div class="ct-contact-form-layout1 style1 ">
                                                            <div class="ct-contact-form-inner">
                                                                <div class="ct-contact-form">
                                                                    <div role="form" class="wpcf7" id="wpcf7-f5336-p1972-o1" lang="en-US" dir="ltr">
                                                                        <div class="screen-reader-response"><p role="status" aria-live="polite" aria-atomic="true"></p> <ul></ul></div>
                                                                        <form action="/home/SubmitCareer" method="post" class="wpcf7-form cf7mls-no-scroll cf7mls-no-moving-animation init" enctype="multipart/form-data" novalidate="novalidate" data-status="init">
                                                                            <div class="row">
                                                                                <div class="input-filled col-lg-6 col-md-6"><span class="wpcf7-form-control-wrap your-fname"><input type="text" name="FIRSTNAME" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="First name*"></span></div>
                                                                                <div class="input-filled col-lg-6 col-md-6"><span class="wpcf7-form-control-wrap your-lname"><input type="text" name="LASTNAME" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Last name*"></span></div>
                                                                            </div>
                                                                            <div class="row">
                                                                                <div class="input-filled col-lg-6 col-md-6"><span class="wpcf7-form-control-wrap your-email"><input type="email" name="EMAIL" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" placeholder="Email*"></span></div>
                                                                                <div class="input-filled col-lg-6 col-md-6"><span class="wpcf7-form-control-wrap your-phone"><input type="text" name="PHONE" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Phone*"></span></div>
                                                                            </div>
                                                                            <div class="row">
                                                                                <div class="input-filled col-lg-6 col-md-6">
                                                                                    <select name="position" class="wpcf7-form-control wpcf7-select" id="position-id" aria-invalid="false">
                                                                                        <option value="Position I’m applying for">Position I’m applying for</option>
                                                                                        <option value="Chartered Accountant">Chartered Accountant</option>
                                                                                        <option value="Other Professional qualifications">Other Professional qualifications</option>
                                                                                        <option value="Semiqualified">Semiqualified</option>
                                                                                    </select>

                                                                                </div>
                                                                                <div class="input-filled col-lg-6 col-md-6"><span class="wpcf7-form-control-wrap file-571"><input type="file" name="AttachmentCareer" size="40" class="wpcf7-form-control wpcf7-file wpcf7-validates-as-required" accept=".pdf,.txt,.doc,.docx" aria-required="true" aria-invalid="false"></span></div>
                                                                            </div>
                                                                            <div class="row text-center">
                                                                                <div class="input-filled col-12"><button type="submit" class="wpcf7-submit btn">APPLY</button><span class="ajax-loader"></span></div>
                                                                            </div>
                                                                            <div class="wpcf7-response-output" aria-hidden="true"></div>
                                                                        </form>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section class="elementor-section elementor-top-section elementor-element elementor-element-a5ef7f8 elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="a5ef7f8" data-element_type="section">

                            <div class="elementor-container elementor-column-gap-extended ">
                                <div class="elementor-row">
                                    <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-8903a8a" data-id="8903a8a" data-element_type="column">
                                        <div class="elementor-column-wrap elementor-element-populated">
                                            <div class="elementor-widget-wrap">
                                                <div class="elementor-element elementor-element-0be5a44 elementor-widget elementor-widget-ct_heading" data-id="0be5a44" data-element_type="widget" data-widget_type="ct_heading.default">
                                                    <div class="elementor-widget-container">
                                                        <div class="ct-heading h-align-  sub-style1 ct-heading-left item-st-default" data-wow-delay="ms">
                                                            <h4 class="item--title st-default">
                                                                <span>
                                                                    APPLY FOR ARTICLESHIP
                                                                </span>
                                                            </h4>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="elementor-element elementor-element-c89fb49 elementor-widget elementor-widget-ct_ctf7" data-id="c89fb49" data-element_type="widget" data-widget_type="ct_ctf7.default">
                                                    <div class="elementor-widget-container">
                                                        <div class="ct-contact-form-layout1 style1 ">
                                                            <div class="ct-contact-form-inner">
                                                                <div class="ct-contact-form">
                                                                    <div role="form" class="wpcf7" id="wpcf7-f5587-p1972-o2" lang="en-US" dir="ltr">
                                                                        <div class="screen-reader-response"><p role="status" aria-live="polite" aria-atomic="true"></p> <ul></ul></div>
                                                                        <form action="/home/SubmitArticle" method="post" class="wpcf7-form cf7mls-no-scroll cf7mls-no-moving-animation init" enctype="multipart/form-data" novalidate="novalidate" data-status="init">
                                                                            <div class="row">
                                                                                <div class="input-filled col-lg-6 col-md-6"><span class="wpcf7-form-control-wrap your-fname"><input id="careernname" type="text" name="FIRSTNAME" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="First name*"></span></div>
                                                                                <div class="input-filled col-lg-6 col-md-6"><span class="wpcf7-form-control-wrap your-lname"><input type="text" name="LASTNAME" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Last name*"></span></div>
                                                                            </div>
                                                                            <div class="row">
                                                                                <div class="input-filled col-lg-6 col-md-6"><span class="wpcf7-form-control-wrap your-email"><input type="email" name="EMAIL" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" placeholder="Email*"></span></div>
                                                                                <div class="input-filled col-lg-6 col-md-6"><span class="wpcf7-form-control-wrap your-phone"><input type="text" name="PHONE" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Phone*"></span></div>
                                                                            </div>
                                                                            <div class="row">
                                                                                <div class="input-filled col-lg-6 col-md-6">
                                                                                    <select name="POSITION" class="wpcf7-form-control wpcf7-select" id="position-id" aria-invalid="false">
                                                                                        <option value="Apply Under">Apply Under</option>
                                                                                        <option value="Direct Entry">Direct Entry</option>
                                                                                        <option value="Cleared INTER/IPCC (1 Group)">Cleared INTER/IPCC (1 Group)</option>
                                                                                        <option value="Cleared INTER/IPCC (Both Groups)">Cleared INTER/IPCC (Both Groups)</option>
                                                                                    </select>

                                                                                </div>
                                                                                <div class="input-filled col-lg-6 col-md-6"><span class="wpcf7-form-control-wrap your-location"><input type="text" name="LOCATION" value="" size="40" class="wpcf7-form-control wpcf7-text" aria-invalid="false" placeholder="Location"></span></div>
                                                                            </div>
                                                                            <div class="row">
                                                                                <div class="input-filled col-lg-6 col-md-6"><span class="wpcf7-form-control-wrap file-571"><input type="file" name="AttachmentCareer" size="40" class="wpcf7-form-control wpcf7-file wpcf7-validates-as-required" accept=".pdf,.txt,.doc,.docx" aria-required="true" aria-invalid="false"></span></div>
                                                                            </div>
                                                                            <div class="row text-center">
                                                                                <div class="input-filled col-12">
                                                                                    <button type="submit" id="careerbtn" style="display:none" class="wpcf7-submit btn">APPLY</button>
                                                                                    <button type="button" onclick="CheckCareerDorm()" class="wpcf7-submit btn">APPLY</button>
                                                                                    <span class="ajax-loader"></span>
                                                                                </div>
                                                                            </div>
                                                                            <div class="wpcf7-response-output" aria-hidden="true"></div>
                                                                        </form>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--   v2 footer area start-->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <div class="v2_footer_single_item">
                        <h3>Albin Jose & Co.</h3>
                        <div class="v2_footer_icon">
                            <p>Albin Jose and Co., Chartered Accountants was established on 17th November 2022 by CA Albin Jose, a distinguished and accomplished chartered accountant. With a remarkable track record spanning over 5 years, CA Albin Jose has excelled in multiple renowned CA firms, honing his expertise in various domains.</p>
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-md-offset-1 col-sm-4">
                    <div class="v2_footer_single_item">
                        <h3>Reach Us</h3>
                        <div class="v2_product_iten">
                            <ul>
                                <li><a href="mailto:info@qsatsolutions.com">E-mail: albinjoseandco@gmail.com </a></li>
                                <li><a>Phone : +91 62828 22325</a></li>
                                <li><span>Address: </span></li>
                                <li>
                                    <a>
                                        Thodupuzha, Idukki
                                        <br />
                                        Kerala, India
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-md-offset-1 col-sm-4">
                    <div class="v2_footer_single_item">
                        <h3>Company</h3>
                        <div class="v2_product_iten">
                            <ul>
                                <li><a href="#map_bottom">Help centre</a></li>
                                <li><a href="#map_bottom">Message Us</a></li>
                                <li><a href="#">Terms of service</a></li>
                                <li><a href="#">Privacy policy</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script>
        function CheckCareerDorm() {
            if ($("#careernname").val() == "") { alert("Please enter name"); }
            else {
                $("#careerbtn").click();
            }
        }
    </script>

    <!--menu-->

    <script>
        var navBar = document.getElementById("navbar");

        function showMenu() {
            navBar.style.right = "0";
        }
        function hideMenu() {
            navBar.style.right = "-200px";
        }
    </script>

</body>
</html>
